.hero {
  background: var(--primary);
  color: white;
  text-align: center;
  padding: 4rem 2rem;
  display: flex;
  gap: 5rem;
}

.hero-image {
    width: 300px;   
}

.hero-text {
    margin-left: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
  font-size: 2.5rem;
  margin: 1rem 0 0.5rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  opacity: 0.9;
}

.hero-icons {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.hero-icons svg {
  transition: transform 0.3s ease;
}

.hero-icons svg:hover {
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-text {
    margin-left: 0;
    margin-top: 2rem;
  }
}



