.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.skills h2 {
  font-size: 2em;
  margin-bottom: 20px;
    color: var(--text-main);
}

.skill-text {
  font-size: 1.2em;
  color: var(--text-muted);
  margin-bottom: 50px;
}

.skills-card {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

.skill-item {
  background-color: var(--card-bg);
  border: 1px solid #c7d2fe;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  transition: all 0.3s ease;
}

.skill-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px #e0e7ff;  
}

.skill-item h3 {
  margin-top: 2rem;
  color: var(--text-main);
  text-align: center;
}

.skill-icon {
  font-size: 3rem;
  color: var(--primary);
  display: flex;
  justify-content: center;
}

.skill-item li svg {
  color: var(--primary);
}

.skill-item ul {
  list-style-type: none;
  padding-left: 0;
}

.skill-item li {
  margin-bottom: 10px;
  color: var(--text-muted);
  padding-left: 1rem;
}

@media (max-width: 768px) {
  .skills-card {
    flex-direction: column;
    align-items: center;
  }

  .skill-item {
    width: 100%;
    max-width: none;
  }
}