.navbar {
  background: var(--primary);
  color: white;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;

  position: sticky;
  top: 0;
  flex-wrap: wrap;
  height: 60px;
  z-index: 1;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar-name {
  font-size: 1.5rem;
  font-weight: normal;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
  font-weight: normal;
}

.navbar-links a:hover {
  color: var(--text-main);
}

.available-badge {
  background: white;
  color: var(--text-main);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  cursor: pointer;

  .dot {
    height: 8px;
    width: 8px;
    background-color: #10b981;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }

  &:hover {
    background: var(--text-main);
    color: white;
  }
}

@media (max-width: 768px) {

  .navbar-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 10rem;
    
  }

  .navbar-links {
    display: none;
  }

  .navbar-name {
    font-size: 1.2rem;
  }

  .available-badge {
    display: none;
  }

  
}